/**
 *
 * SHARED UI
**/


.navbar {
  margin-top: 2em;
  margin-right: 2em;
  display: flex;
  justify-content: flex-end;
}

.navbar > button:first-child {
  margin-right: 2em;
}











/**
 *
 * Home.elm styles
**/

.logo-container {
  padding-top: 1em;
}

.center-text {
  text-align: center;
}

.logo-container > * {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
}

.slogan {
  margin-top: .5em;
}


.custom-form {
  width: 50%;
  margin-top: 2.5em;
  margin-left: auto;
  margin-right: auto;
}

.custom-form > * {
  width: 100%;
}

.custom-form .url-info {
  display: flex;
  justify-content: left;
}

.custom-form .url-info > * {
  margin: 0;
  margin-bottom: .5em;
}

.custom-form .url-info > span {
  margin-right: .5em;
}
