/**
 *  
 *   CSS For reusable Components
 **
@import palette

.btn__primary
  background-color: $primary-color
  color: white
  border: none

  &:hover
    background-color: $primary-color-faded
    color: white

  &.disabled
    background-color: black


.toast__container
  position: fixed
  top: 5%
  left: 45%

  & > ol
    list-style-type: none
    display: flex
    flex-direction: column-reverse

  .toast__item
    padding: 1em 1.3em
    background-color: $primary-color
    color: white
    border-radius: 3px


@keyframes donut-spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

  
.loading__donut
  display: inline-block
  border: 4px solid rgba(0, 0, 0, 0.1)
  border-left-color: $primary-color
  border-radius: 50%
  width: 30px
  height: 30px
  animation: donut-spin 1.2s linear infinite
